    <!DOCTYPE html>
    <html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>sqids</title>
        <link rel="stylesheet" type="text/css" href="css/sqids.css" />
    </head>
    <body>
        <h1>Sqids</h1>
        <h5 th:if="${action}=='encode'"><span th:text="${sequence}"></span> <=> <span th:text="${id}"></span></h5>
        <h5 th:if="${action}=='decode'"><span th:text="${id}"></span> <=> <span th:text="${sequence}"></span></h5>
        <h5 th:if="${action}=='batch'"><span th:text="${sequence}"></span></h5>
    </body>
    </html>